html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	position: relative;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

blockquote, q {
	quotes: none;

	&:before,
	&:after {
		content: '';
	}
}

blockquote {
	position: relative;
	margin: 0 0 1em;
	padding: 1em 1em 1em 2.5em;
	@include media-breakpoint-up(lg) {
		padding: 1em 1.5em 1em 3.5em;
	}
	p {
		margin: 0;
		& + p {
			margin-top: 1em;
		}
	}
	cite {
		&:before {
			content: "- ";
		}
	}
	&:before {
		content: "format_quote";
		@include material-icon();
		position: absolute;
		font-size: 2em;
		top: 10px;
		left: 10px;
		@include media-breakpoint-up(lg) {
			font-size: 2.5em;
			left: 20px;
		}
	}
}

hr {
	background-color: $color__background-hr;
	border: 0;
	height: 1px;
	margin: 1.5em 0;
}

.cherry-section {
	padding-top: 20px;
	padding-bottom: 20px;
		@include media-breakpoint-up(sm) {
			padding-top: 25px;
			padding-bottom: 25px;
		}
		@include media-breakpoint-up(md) {
			padding-top: 35px;
			padding-bottom: 35px;
		}
		@include media-breakpoint-up(lg) {
			padding-top: 50px;
			padding-bottom: 50px;
		}
		@include media-breakpoint-up(xl) {
			padding-top: 60px;
			padding-bottom: 60px;
		}

		&.home-section-2-1 {
			padding: 20px 0;
			p {
				margin-left: 25px;
				margin-right: 25px;
			}
		}

		&.home-section-6 {
			padding: 100px 0;
			position: relative;
			background-position: 0% 50%;

		}

		&.plugins-section-1 {
			padding: 100px 0;
		}

		&.plugins-section-2 {
			padding-bottom: 0;
		}

		&.features-section {
			padding-top: 0px;
			padding-bottom: 20px;
			@include media-breakpoint-up(md) {
				padding-top: 20px;
			}
			@include media-breakpoint-up(lg) {
				padding-top: 30px;
			}
			@include media-breakpoint-up(xl) {
				padding-top: 40px;
			}
		}
		&.features-section-2 {
			padding: 50px 0;
			background-position: 50% 30%;
			@include media-breakpoint-up(md) {
				padding: 100px 0;
			}
			@include media-breakpoint-up(lg) {
				padding: 150px 0;
			}
		}
		&.about-section-1 {
			text-align: center;
			&:before {
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				display: block;
				content: '';
			}
			@include media-breakpoint-up(md) {
				text-align: center;
				padding: 100px 0;
			}
			@include media-breakpoint-up(lg) {
				text-align: left;
				padding: 150px 0;
			}
		}
		&.about-section-3 {

		}
}

.section-overlay {
	position: relative;
	&:before {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		display: block;
		content: '';
	}
}

.home-col-7 {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	> * {
		flex: 0 1 auto;
		margin: 10px;
	}
}

.features-col-1 {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	> * {
		flex: 0 1 auto;
		margin: 10px;
	}
}

.feature-col-1 {
	display: flex;
	align-items: center;
	flex-flow: column nowrap;
	justify-content: center;
	> * {
		flex: 0 1 auto;
		text-align: center;
	}
}


/*--------------------------------------------------------------
## Lists
--------------------------------------------------------------*/
@import "lists";

/*--------------------------------------------------------------
## Tables
--------------------------------------------------------------*/
@import "tables";

/*--------------------------------------------------------------
## Preloader
--------------------------------------------------------------*/
@import "page-preloader";

/*--------------------------------------------------------------
## ToTop button
--------------------------------------------------------------*/
@import "totop-button";
