.site-logo {
	margin: 0;
	&__link {
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
		text-decoration: none;
		transition: all 0.4s ease;
		&:focus {
			outline: none;
		}
		.site-link__img{
			flex: 0 1 auto;
			margin-right: 10px;
			width: 60px;
			height: 60px;
		}
		span{
			flex: 0 1 auto;
			white-space: nowrap;
		}
		@include media-breakpoint-up(md) {
			flex-flow: row nowrap;
		}
	}
}
