.widget {
	&-title {
		font-size: 18px;
		line-height: 1.2;
		margin: 0 0 1em 0;
		text-align: left;
		@include media-breakpoint-up(lg) {
			font-size: 25px;
		}
	}
	& + .widget {
		margin-top: 1em;

		@include media-breakpoint-up(md) {
			margin-top: 2em;
		}
	}
	.sidebar &,
	.footer-area & {
		margin: 1.5em 0 1.5em 0;

		@include media-breakpoint-up(md) {
			margin: 3em 0 3em 0;
		}
	}
	&:last-child {
		.widget-area & {
			margin-bottom: 1em;

			@include media-breakpoint-up(md) {
				margin-bottom: 2em;
			}
		}
	}
	select {
		max-width: 100%;
	}


}
