/* #Elements */
blockquote {
	color: $invert_text_color;
	background-color: $regular_accent_color_2;
}
blockquote cite {
	color: $regular_link_color;
}
blockquote a:hover {
	color: $regular_link_color;
}

code {
	color: @darken( $regular_text_color, 15% );
	background: $invert_text_color;
}

.home-section-2{
	background-color: $regular_accent_color_1;
}

.home-section-4{
	background-color: $regular_accent_color_3;
}

.home-section-7{
	background-color: $regular_accent_color_1;
}

.plugins-section-1{
	background-position: 0 50%;
}

.home-section-6:before {
	background: @alpha( $regular_accent_color_2, 75 );
	background: linear-gradient(to bottom, @alpha( $regular_accent_color_2, 75 ) 0%, @alpha( $regular_accent_color_2, 20 ) 100%);
}
