/* #Post */
.posts-list .hentry {
	border-color: $regular_accent_color_3;
}

/* #Entry Meta */
.post__cats a,
.sticky__label {
	color: $invert_link_color;
	background-color: $regular_accent_color_1;
}
.post__cats a:hover {
	color: $invert_link_color;
	background-color: $regular_accent_color_2;
}
.entry-meta .material-icons,
.post__tags .material-icons,
.entry-meta .fa,
.post__tags .fa {
	color: @darken( $regular_text_color, 10% );
}

.entry-meta a {
	color: $regular_text_color;
}

.entry-meta a:hover {
	color: $regular_accent_color_1;
}

.posted-by,
.post-featured-content {
	color: $regular_accent_color_2;
}

.invert .post__cats a:hover {
	color: $regular_link_color;
	background-color: $invert_accent_color_1;
}

/* #Post Format */
.format-quote .post-quote {
	color: $invert_text_color;
	background-color: $regular_accent_color_2;
}
.post-format-link,
.post-format-link:hover {
	color: $invert_link_color;
	background-color: @alpha( $regular_accent_color_1, 80 );
}

/* #Author Bio */
.post-author__holder {
	background-color: $regular_link_color;
}

.post-author__title a {
	color: $regular_accent_color_3;
}

.post-author__title a:hover {
	color: $regular_accent_color_3;
}

/* #Comment Reply Link */
#cancel-comment-reply-link {
	color: $regular_accent_color_1;
}
#cancel-comment-reply-link:hover {
	color: $regular_accent_color_2;
}
