.breadcrumbs {
	position: relative;
	padding: 1.6em;
	display: flex;
	justify-content: space-between;
	.container{
		display: inherit;
		justify-content: inherit;
		width: 100%;
	}
	&__title {
		flex: 0 1 auto;
		.page-title {
			margin: 0;
		}
	}
	&__items {
		flex: 0 1 auto;
	}
	&__browse {
		float: left;
		margin-right: .5em;
	}
	&__wrap {
		float: left;
		margin: 0;
		@include media-breakpoint-up(lg) {
			margin: .25em 0;
		}
	}
	&__item {
		float: left;
		&-sep {
			margin: 0 .5em;
		}
		&-link {
			text-decoration: none;
		}
	}
}
