button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
	@include btn;
}

// General styles
.btn {
	text-decoration: none;
	color: #fff;
	font-family: Raleway;
	font-size: 15px;
	font-weight: 600;
	border-style: solid;
	border-width: 2px;
	padding: 10px 20px;
	@include btn;
	@include border-radius;
	@include transition( all 0.4s ease );
	&:hover {
		text-decoration: none;
	}
	&:focus {
		outline: none;
		box-shadow: 0 0 10px;
	}
	&-fullwidth {
		width: 100%;
	}
}

.btn-slider{
	transition: all 300ms ease-in-out;
}

.cherry-button{
	border-radius: 6px;
	transition: all 300ms ease-in-out;
}
