.docs-wrapper .toc {
	background-color: #f9f9f9;
	margin-bottom: 30px;

	@include media-breakpoint-up(md) {
		position: static;
		position: -webkit-sticky;
		position: sticky;
		top: 0;
		bottom: 0;
		float: left;
		overflow-x: hidden;
		overflow-y: auto;
		width: 300px;
		margin-bottom: 0;
		.admin-bar & {
			top: 32px;
		}

		&.isStuck {
			position: fixed;
		}
	}
	ul {
		margin: 0;
		padding: 0;
		font-size: 13px;
		font-weight: 600;
		line-height: 20px;
		list-style: none;
	}
	a {
		display: block;
		padding: 15px 25px;
		color: #333;
		&:hover {
			background-color: #eee;
			color: #333;
		}
	}
	ul ul a { padding-left: 45px; }
	ul ul ul a { padding-left: 65px; }
	ul ul ul ul a { padding-left: 85px; }
	ul ul ul ul ul a { padding-left: 105px; }
}

.docs-wrapper .pseudoStickyBlock {
	display: none;
}

.docs-wrapper__item {
	padding-left: 0.9375rem;
	padding-right: 0.9375rem;
	@include media-breakpoint-up(md) {
		float: left;
		margin-left: 50px;
		width: calc( 100% - 350px);

		.isStuck ~ & {
			margin-left: 350px;
		}
	}

	@include media-breakpoint-up(lg) {
		margin-left: 100px;
		width: calc( 100% - 500px);

		.isStuck ~ & {
			margin-left: 400px;
		}
	}
}

.docs-wrapper__item {
	ul {
		list-style: none;
	}
	li {
		margin-bottom: .25rem;
	}
	ul li {
		position: relative;
		padding-left: 20px;
		&:before {
			content: '';
			position: absolute;
			top: 10px;
			left: 2px;
			width: 4px;
			height: 4px;
			border: 1px solid currentColor;
			border-radius: 50%;
		}
	}
	strong,
	b {
		color: #373a3c;
	}
	blockquote {
		padding: 1.25rem;
		margin-top: 1.25rem;
		margin-bottom: 1.25rem;
		font-size: 1rem;
		border: 1px solid #eee;
		background-color: transparent;
		color: currentColor;
		border-left-width: .25rem;
		border-radius: .25rem;
		&:before,
		&:after {
			content: '';
		}
	}
	h2, h3, h4, h5, h6 {
		margin-top: 0;
		margin-bottom: 1rem;
		padding-top: 1.5rem;
	}
}

.docs-wrapper__item + .docs-wrapper__item + .docs-wrapper__item {
	margin-top: 30px;
	padding-top: 30px;
	border-top: 1px solid #e6e6e6;
}

.docs-wrapper__item > h2 {
	position: relative;
	&:before {
		font-size: 1em;
		line-height: inherit;
		content: '\f0c1';
		vertical-align: middle;
		margin-right: 0.5em;

		@include font-awesome-icon;
		@include media-breakpoint-up(md) {
			position: absolute;
			margin-right: 0;
			margin-left: -1.5em;
		}
	}
}

#documentation {
	display: none;
}