.smart-slider {
	&__instance {
		position: relative;
		overflow: hidden;
		width: 100%;
		.sp-full-screen-button {
			right: 15px;
			color: #fff;
		}
		.sp-selected-thumbnail {
			border: 4px solid;
		}
		.sp-bottom-thumbnails,
		.sp-top-thumbnail {
			.sp-thumbnail-container {
				margin-right: 5px;
				margin-left: 5px;
			}
		}
		.sp-arrow {
			width: 50px;
			height: 50px;
			border-radius: 6px;
			&:before {
				font-size: 24px;
				position: relative;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				width: 1em;
				height: 1em;
				margin: 13px;
				transform: none;
				background-color: transparent;

				@include material-icon();
			}
			&:after {
				display: none;
			}
			&.sp-previous-arrow {
				@include border-right-radius($border__radius);

			}
			&.sp-next-arrow {
				@include border-left-radius($border__radius);
			}
		}
		.sp-horizontal {
			.sp-previous-arrow {
				left: 10px;
				&:before {
					content: 'keyboard_arrow_left';
				}
			}
			.sp-next-arrow {
				right: 10px;
				&:before {
					content: 'keyboard_arrow_right';
				}
			}
		}
		.sp-vertical {
			.sp-arrows {
				margin-left: -25px;
			}
			.sp-previous-arrow {
				top: 0;
				&:before {
					content: 'keyboard_arrow_left';
				}
			}
			.sp-next-arrow {
				bottom: 0;
				&:before {
					content: 'keyboard_arrow_right';
				}
			}
		}
		.sp-buttons {
			position: absolute;
			bottom: 15%;
			padding: 0;
		}
		.sp-button {
			width: 15px;
			height: 15px;
			margin: 4px 15px;
			border-color: #fff;
			&.sp-selected-button {
				background-color: #fff;
			}
		}
		.sp-icon{
			.icon{
				width: 30px;
				height: 30px;
				background-image: url('assets/images/single-logo-retina.png');
				background-size: cover;
				margin: 0 auto;
				@include media-breakpoint-up(sm) {
					width: 40px;
					height: 40px;
				}
				@include media-breakpoint-up(md) {
					width: 60px;
					height: 60px;
				}
				@include media-breakpoint-up(lg) {
					width: 80px;
					height: 80px;
				}
				@include media-breakpoint-up(xl) {
					width: 100px;
					height: 100px;
				}
			}
		}
		h2.sp-title {
			font-size: 20px;
			line-height: 1.2;
			font-weight: 400;
			overflow: hidden;

			@include media-breakpoint-up(sm) {
				font-size: 25px;
			}
			@include media-breakpoint-up(md) {
				font-size: 30px;
			}
			@include media-breakpoint-up(lg) {
				font-size: 40px;
			}
			@include media-breakpoint-up(xl) {
				font-size: 50px;
			}
		}
		.sp-content{
			p{
				font-size: 12px;
				@include media-breakpoint-up(sm) {
					font-size: 14px;
					margin: 0 0 1.3em;
				}
				@include media-breakpoint-up(md) {
					font-size: 16px;
					margin: 0 0 1.5em;
				}
				@include media-breakpoint-up(lg) {
					font-size: 18px;
					margin: 0 0 2em;
				}
				@include media-breakpoint-up(xl) {
					font-size: 20px;
					margin: 0 0 2.5em;
				}
			}
		}
		.sp-slide {
			text-align: center;
			&.text-wrapped {
				h2.sp-title {
					font-size: 14px;
					line-height: 1.2;

					@include media-breakpoint-up(sm) {
						font-size: 18px;
					}
					@include media-breakpoint-up(md) {
						font-size: 22px;
					}
					@include media-breakpoint-up(lg) {
						font-size: 30px;
					}
					@include media-breakpoint-up(xl) {
						font-size: 40px;
					}
				}
			}
		}
		.sp-image-container:after {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			content: '';
		}
	}
}

.sidebar {
	.smart-slider__instance {
		.sp-slide.text-wrapped {
			h2.sp-title {
				font-size: 25px;
				line-height: 1.2;
				text-align: center;
			}
		}
	}
}
