.follow-block {
	padding: 0 0 20px;
	.sidebar &,
	.footer-area & {
		text-align: center;
	}
}
.subscribe-block {
	padding: 0 0 20px;
	.sidebar &,
	.footer-area & {
		text-align: left;
	}
	.follow-block + & {
		padding: 10px 0;
		border-top: 1px solid $color__background-hr;

		@include media-breakpoint-up(lg) {
			padding: 20px 0;
		}
		.footer-area & {
			border-top: 1px solid rgba(255,255,255,.2);
		}
	}
	&__input-group {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-items: center;
		@include media-breakpoint-up(lg) {
			flex-direction: row;
		}
	}
	&__input[type='email'] {
		border-right: none;
		order: 0;
		flex: 1 1 0;
		align-self: stretch;
		height: 50px;
		margin-bottom: 5px;
		.footer-area & {
			&:focus {
				background: #fff;
				box-shadow: none;
			}
		}
		@include media-breakpoint-up(lg) {
			margin-bottom: 0;
			margin-right: 5px;
			align-self: center;
		}
	}
	&__submit {
		font-size: 1em;
		padding: 15px 20px;
		order: 0;
		flex: 0 1 auto;
		align-self: stretch;
		&:before {
			content: "arrow_forward";
			@include material-icon();
			@include font-size(1);
			display: none;
		}

		@include media-breakpoint-up(lg) {
			font-size: 0;
			align-self: center;
			&:before {
				display: inline-block;
			}
		}
	}
	&__message {
		padding: 0 0 15px;
		.footer-area & {
			padding-bottom: 20px;
		}
	}
}
